[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SBMSplitMerge"]
	path = SBMSplitMerge
	url = https://github.com/cran/SBMSplitMerge
